<div class="panel-header bg-primary-gradient">

    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div class="ml-md-auto py-2 py-md-0">
                <a routerLink="/pessoa-cadastrar" class="btn btn-white btn-border btn-round mr-2">Cadastrar Pessoa</a>
            </div>
        </div>
    </div>

</div>

<div class="page-inner mt--5">

    <div class="row">

        <div class="col-md-12">

            <div class="card">
                <div class="card-header">
                    <div class="card-title">Lista de Pessoas</div>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 50%">Nome</th>
                                <th scope="col"style="width: 30%">Tipo de Pessoa</th>
                                <th scope="col" style="width: 20%; text-align: center;">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of pessoaList | slice: (page-1) * pageSize : page * pageSize">
                                <td>{{item.nome}}</td>
                                <td>{{item.tipoPessoa}}</td>
                                <td>
                                    <button routerLink="/pessoa-detalhar" class="btn btn-secondary">Detalhar</button>
                                    <button routerLink="/pessoa-editar/{{item.codigo}}" class="btn btn-warning" style="margin-left: 10px;">Editar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="display: flex; justify-content: center;">
                        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="pageLength"></ngb-pagination>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
