<div class="panel-header bg-primary-gradient">

    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div class="ml-md-auto py-2 py-md-0">
                <a routerLink="/pessoa-cadastrar" class="btn btn-white btn-border btn-round mr-2">Cadastrar Pessoa</a>
            </div>
        </div>
    </div>

</div>

<div class="page-inner mt--5">

    <div class="row">

        <div class="col-md-12">

            <div class="card">
                <div class="card-header">
                    <div class="card-title">Lista de Pessoas</div>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Tipo de Pessoa</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of pessoaList">
                                <td>{{item.nome}}</td>
                                <td>{{item.tipoPessoa}}</td>
                                <td><button routerLink="/pessoa-detalhar" class="btn btn-secondary">Detalhar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>